body{
background-color: tan;    
}

button{
    padding: 8px;
    margin: 3px;
    border-style: none;
    border-radius: 10%;
    background-color: burlywood; 
    
}

button:hover{
     padding: 8px;
    margin: 3px;
    border-style: none;
    border-radius: 10%;
    background-color: chocolate; 
}

ul{
    
    list-style-type: none;  
}

li{
display: inline-block;    
}

div{
    padding: 5px;
    margin: 5px;
    border: 5px;
    border-style: none;
    border-radius: 10px;
    background-color: bisque;
}